@page
@model T5PPR1Hugo2.Pages.Energies.SimulationsModel
@{
	ViewData["Title"] = "SimulationsList";
}

<h3>@ViewData["Title"]</h3>
<hr />
<p>
	<a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-success table-striped table-responsive table-hover">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].Tipus)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].HoresSol)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].VelocitatVent)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].CabalAigua)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].Rati)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].EnergiaGenerada)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].CostKWh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].PreuKWh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Simulations[0].DataHora)
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@if(Model.Simulations != null && Model.Simulations.Any())
		{
			foreach (var item in Model.Simulations)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tipus)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.HoresSol)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.VelocitatVent)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CabalAigua)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Rati)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EnergiaGenerada)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CostKWh)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PreuKWh)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DataHora)
					</td>
					<td>
						<a asp-page="/Energies/Edit" asp-route-itemid="@item.Id" class="btn btn-primary">Edit</a> |
						<a asp-page="./Delete" asp-route-itemid="@item.Id" class="btn btn-danger" >Delete</a>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="11" class="text-center">No Simulations found</td>
			</tr>
		}
	</tbody>
</table>